<footer class="h-[350px] rounded-lg background">
    <div class="flex flex-col gap-10 p-5">
        <h1 class="text-2xl">ENLACES RAPIDOS</h1>
        <ul class="flex flex-col gap-6 [&>li>a]:text-xl pl-4">
            <li><a href="/">Soporte</a></li>
            <li><a href="/">Contacto</a></li>
        </ul>
    </div>
    <div class="absolute flex flex-col gap-5 -bottom-[35%] left-[40%] items-center justify-items-end">
        <h2 class="font-bold text-2xl">2023 Citymall</h2>
        <ul class="flex gap-12 [&>li>a]:text-md">
            <li><a href="/">Teminos de Servicio</a></li>
            <li><a href="/">Politica de Privacidad</a></li>
            <li><a href="/">FAQS</a></li>
        </ul>
    </div>
</footer>